.nav {
  height: 100%;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  padding: 5px 15px;
}
.link:hover,
.link:focus,
.link:visited,
.link {
  color: #fff;
  text-decoration: none;
}

.link.active {
  color: gold;
  padding-left: 2px;
}
